<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selfless Serve</title>
</head>
<body>
    <p>Copyright &copy; <%= new Date().getFullYear() %> SelflessServe.org</p>
</body>
</html>